body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.shopping-list-container {
    position: absolute;
    top: 40px;
    right: 140px;
    z-index: 1000;
}

.shopping-list-container img {
    width: 30px;
    height: 30px;
    display: block;
}

#results {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

#filters-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Filters section */
#filters {
    flex: 1;
    margin-right: 20px;
}

/* Filters labels */
#filters label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

/* Filters input fields */
#filters input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filters select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#filters select:focus {
    outline: none;
    border-color: #6CB26E;
    box-shadow: 0 0 5px rgba(108, 178, 110, 0.5);
}

/* Sorting section */
#sorting {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sorting labels */
#sorting label {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Sorting dropdown */
#sorting select {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#newRequestButton, #applyFiltersButton, #removeFiltersButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#applyFiltersButton {
    background-color: #6CB26E;
}

#newRequestButton, #removeFiltersButton {
    background-color: #B96477;
}

#newRequestButton:hover, #removeFiltersButton:hover {
    background-color: #8e4e5c;
}

#applyFiltersButton:hover {
    background-color: #4a784c;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#resultsTable th {
    background-color: #f4f4f4;
    color: #333;
}

#resultsTable td img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
}

#resultsTable tr:hover {
    background-color: #f1f1f1;
}

/* responsive design for smaller screens */
@media (max-width: 1300px) {
    .shopping-list-container {
        right: 50px;
    }
}

@media (max-width: 1105px) {
    /* Hide columns if needed */
    #resultsTable td:nth-child(12),
    #resultsTable th:nth-child(12) { /* height */
        display: none;
    }
}

@media (max-width: 1030px) {
    /* Hide columns if needed */
    #resultsTable td:nth-child(11),
    #resultsTable th:nth-child(11) { /* color */
        display: none;
    }
}

@media (max-width: 970px) {
    /* Hide columns if needed */
    #resultsTable td:nth-child(10),
    #resultsTable th:nth-child(10) { /* available */
        display: none;
    }
}

@media (max-width: 870px) {
    /* Hide columns if needed */
    #resultsTable td:nth-child(9),
    #resultsTable th:nth-child(9) { /* stems per */
        display: none;
    }
}

@media (max-width: 800px) {
    h1 {
        margin-top: 40px;
    }

    /* Hide column headers */
    #resultsTable thead {
        display: none;
    }

    /* Adjust table layout for small screens */
    #resultsTable {
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;
    }

    /* Style table rows for small screens */
    #resultsTable tr {
        display: block;
        border-radius: 5px;
        background-color: #f9f9f9;
        position: relative;
        width: 80%;
        margin: 0 auto 40px;
    }

    /* Label specific fields */
    #resultsTable td:nth-child(2) {
       font-weight: bold;
    }

    #resultsTable td:nth-child(4)::before {
        content: "Delivery: ";
        font-weight: bold;
    }

    #resultsTable td:nth-child(8)::before {
        content: "Stem Price: ";
        font-weight: bold;
    }

    /* Style for flower image */
    #resultsTable td img {
        max-width: 100px; /* Adjust size for mobile */
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* Ensure consistent text styling */
    #resultsTable td {
        font-size: 14px;
        display: block;
        text-align: center;
    }

    /* Stack filters and sorting sections vertically */
    #filters-container {
        flex-direction: column;
        align-items: center;
    }
    
    /* Adjust filters section width */
    #filters {
        width: 90%;
        margin: 0 auto 10px; 
    }
    
    /* Adjust sorting section width and position */
    #sorting {
        width: 100%;
        margin: 0;
        flex: none;
    }
}
